<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <h1>Hello Spring!</h1>

<form action="/hello" method="post">
    <input type="text" name="name">
    <button type="submit">送信</button>
</form>

<ul>
    <li th:each="name : ${names}">
        <span th:text="${name.name}"></span>

        <form action="/delete" method="post" style="display:inline;">
            <input type="hidden" name="id" th:value="${name.id}">
            <button type="submit">削除</button>
        </form>
    </li>
</ul>

</body>
</html>