<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item List</title>
</head>
<body>

<h1>名前管理アプリ</h1>

<form action="/items" method="post">
    <input type="text" name="item">
    <button type="submit">送信</button>
</form>

<ul>
    <li th:each="listItem : ${items}">
        <span th:text="${listItem.item}"></span>

        <!-- 編集ボタン -->
        <a th:href="@{/edit(id=${listItem.id})}">編集</a>

        <!-- 削除ボタン -->
        <form action="/delete" method="post" style="display:inline;">
            <input type="hidden" name="id" th:value="${listItem.id}">
            <button type="submit">削除</button>
        </form>

    </li>
</ul>

</body>
</html>